<style>
    a{
        color: #1b1b7e;
        text-decoration: none;
    }
</style>
<section>
        <h1>Bem-vindo</h1>

        
                <article>
                    <p>Olá querido visitante, este é uma das minhas primeiras aplicações em PHP, fiz ela exclusivamente para testar meus conhecimentos. Para isso fiz o jogo Tetris utilizando o template engine Twig, para gerar uma tabela de imagens 30 x 30. </p><br>
                    <p>Recomendo assistir o vídeo de apresentação: <a href="https://youtu.be/saZ4Ed7WOcc">https://youtu.be/saZ4Ed7WOcc</a></p><br>
                    <p>Esta aplicação PHP foi criada usando o template e conceitos ensinados por Rafael Capoani <a href="https://github.com/RafaelCapo">https://github.com/RafaelCapo</a> <a href="https://www.youtube.com/user/Suportedeweb">https://www.youtube.com/user/Suportedeweb</a></p><br>
                    <p>Marcelo Fonseca <a href="https://github.com/MarceloScarpinFonseca">https://github.com/MarceloScarpinFonseca</a> 20/08/2020</p>

                </article>

</section>
